
    <!-- ------------------------------------CHAT-------------------------------------------------------- -->
    <div class="all" >

        <div class="titulo_chat">
            <h1>Chat</h1>
        </div>

        <div>

            <form onsubmit="return addMessage(this);">

                <input type="email" class="email" id="username"  placeholder="Ingresar Gmail" required>
                
                <div class="Chat_mensajes" id="messages"> </div>
                
                <input type="text" class="Enviar_mensj" id="text"  placeholder="Escribe tu Mensaje">

                <input type="submit" class="btn_Chat"  id="submit" value="Enviar"> 

            </form>

        </div>

    </div>
